#content{
    width: 75vw;
    height: 65vh;
    margin: 0 auto 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

#picture{
    width: 45vw;
    padding-left: 3vw;
  }

#text{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

#line{
    display: none;
  }
  
#left-bracket{
    height: 12vw;
    transform: rotate(180deg);
}

#right-bracket{
    height: 12vw;
}

p {
    width: 50vw;
    font-family: Montserrat Light;
    line-height: 1.5;
    font-size: 1.2vw  ;
    margin: 0;
    color: white;
    text-align: center;
  }  
  
#mail {
    font-family: Montserrat Bold;
    font-size: 1.6vw;
    color: white;
  }
    
@media screen and (max-width: 1024px) {
    #content{
        width: 60vw;
        height: 80vw;
        margin: 0vh 20vw 10vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #picture{
        width: 70vw;
        padding: 5vh 0;
    }

    #text{
        padding-top: 3vh;
        width: 70vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #face-down-bracket{
        display: block;
        width: 25vw;
        padding-bottom: 2vh;
    }

    #left-bracket{
        display: none;
    }
    
    #right-bracket{
        display: none;
    }

    p{
        width: 65vw;
        font-size: 2.4vw;
    }
        
    #mail {
        font-size: 3vw;
    }  
}

@media screen and (max-width: 768px) {
    #content{
        width: 90vw;
        height: 130vw;
        margin: 0vh 5vw 3vh;
        display: flex;
        justify-content: flex-start;
      }

    #picture{
        width: 80vw;
        padding-top: 3vh;
        padding-bottom: 8vh;
    }

    #text{
        width: 80vw;
        margin: 0px auto 10vh ;
      }

    p{
        width: 80vw;
        font-size: 4vw;
        text-align: justify;
    }
    
    #mail {
        font-size: 5vw;
        margin-bottom: 3vh;
    }    
    
}   
    
  