
#content{
  width: 75vw;
  height: 60vh;
  margin: 2vh 12.5vw 8.7vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#picture{
  width: 25vw;
  height: 25vw;
  position: relative;
}

#cute_pink_rectangle{
  width: 13vw;
  height: 11vw;
  background: #FFA69E;
  position: absolute;
  top: -1vw;
  left: -2vh;
  z-index: -1;
}

#cute_sky_rectangle{
  width: 16vw;
  height: 6vw;
  background: #AED9E0;
  position: absolute;
  bottom: -1vh;
  right: -3vw;
  z-index: -1;
}

#me{
  transition: -webkit-filter .2s, filter .2s, border-radius .25s;
  transition-timing-function: ease-in-out;
  border-radius: 50%;
  margin: 0;
  width: 25vw;
}

#line{
  width: 30vw;
  height: .3vh;
  margin: 1vh 0;
  background: #B8F2E6;
}

#text{
  width: 35vw;
  margin: 0;
  text-align: left;
}

h1{
  font-family: Montserrat ExtraBold;
  color: inherit;
  margin: 0;
  font-size: 2vw;
  color: #FAF3DD;
}

p {
  font-family: Montserrat Light;
  font-size: 1.2vw  ;
  margin: 0;
  color: white;
}

#me.square{
  border-radius: 1%;
}

#mail {
  font-family: Montserrat Bold;
  font-size: 1.6vw;
  color: white;
}

@media screen and (max-width: 1024px) {
  #content{
    width: 60vw;
    height: 80vw;
    margin: 0vh 20vw 10vw;
    display: block;
    justify-content: flex-start;
  }

  #cute_pink_rectangle{
    width: 20vw;
    height: 17vw;
  }

  #cute_sky_rectangle{
    width: 20vw;
    height: 10vw;
  }

  #picture{
    width: 35vw;
    height: 35vw;
    margin: 0vh auto 3vh;
  }

  #me{
    width: 35vw;
  }

  #text{
    width: 60vw;
    margin:auto;
    text-align: center;
  }

  #line{
    width: 40vw;
    height: .1vh;
    margin: 1vh auto;
    background: #B8F2E6;
  }

  h1{
    font-size: 4vw;
  }

  p{
    font-size: 2vw;
  }

  #mail {
    font-size: 3vw;
  }
}

@media screen and (max-width: 768px) {
  #content{
    width: 90vw;
    height: 205vw;
    margin: 0vh 5vw 3vh;
    display: block;
    justify-content: flex-start;
  }

  #cute_pink_rectangle{
    width: 50vw;
    height: 35vw;
  }

  #cute_sky_rectangle{
    width: 50vw;
    height: 20vw;
  }

  #picture{
    width: 70vw;
    height: 70vw;
    margin-bottom: 10vh;
  }

  #me{
    width: 70vw;
  }

  #text{
    width: 80vw;
    margin: 0px auto 10vh ;
    text-align: justify;
  }

  #line{
    width: 40vw;
    height: .1vh;
    margin: 1vh auto;
    background: #B8F2E6;
  }

  h1{
    font-size: 9vw;
    text-align: center;
  }

  p{
    font-size: 4vw;
  }

  #mail {
    font-size: 5vw;
  }
}
